### 메소드 :

In [1]:
' ' .join (['1','2','3'])

'1 2 3'

In [3]:
dir('hello') #di함수를 'hello'문자열 객체를 이용하여 할 수 있는 기능들

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 1. 문자열 메소드

In [14]:
a = 'hello my name is hyejin'

In [16]:
a[0] = 'h'

TypeError: 'str' object does not support item assignment

In [17]:
a.capitalize()

'Hello my name is hyejin'

In [18]:
print(a)     # 위에 capitalize 메소드를 실행한게 영향에 미치지는 않는다.

hello my name is hyejin

In [19]:
a = a.capitalize()      # 수정본을 저장하고 싶으면 a = 
print(a)

Hello my name is hyejin

In [23]:
a.title()     # 띄어쓰기 기준 단어 하나하나마다 대문자

'Hello My Name Is Hyejin'

In [24]:
a.upper()

'HELLO MY NAME IS HYEJIN'

In [25]:
a.lower()

'hello my name is hyejin'

In [27]:
print(a)     # 여기서 출력되는 a = a.capitalize

hello my name is hyejin

In [32]:
# ''.join(iterable) 
my_list = ['hi','my','name'] 

'  , '.join(my_list)              # join메소드를 통해  , 기준으로 모든 객체를 같이 보여준다.

'hi  , my  , name'

In [34]:
a.replace(my_list)

TypeError: replace expected at least 2 arguments, got 1

In [36]:
#    str.replace(old,new[, count]) 
#   문자열.               [, count]는 생략 가능하다는 뜻

In [38]:
'helloooooooooo'.replace('o','z',4)
                                      # 'o' -> 'z' 로 '4'번 바꾼다는 메소드

'hellzzzzoooooo'

In [40]:
#    .strip()      
my_string = '      hell  _ '  
print(my_string)                  # 단순 출력 (그대로) 
print(my_string.strip())          # 띄어쓰기,공백,엔터(|n)제거

      hell  _
hell  _

In [150]:
#    .strip([])         여기서 []는 선택적이라는 뜻 
my_string2 = 'hihihihihihihihihihellohihi'
print(my_string2.strip('hi'))   # [] 안에 있는 단어를 지움
print(my_string2.lstrip('hi'))
print(my_string2.rstrip('hi'))

ello
ellohihi
hihihihihihihihihihello

In [49]:
#    .find(x) 
a = 'apple' 
print(a.find('p'))      # 찾는 단어가 있으면 양수 1 
print(a.find('z'))      # 찾는 단어가 없으면 음수 - 1

1
-1

In [52]:
#     .index(x) 
a = 'apple' 
print(a.index('p'))     # 찾는 단어가 있으면 양수 1
#print(a.index('z'))    # 찾는 단어가 없으면 error      -> 찾는 단어가 없을 때 에러 떠야 할 경우 index 를 쓴다 (코드 멈춰버림)

1

In [67]:
#      .count(x) 
a = 'apple' 
print(a.count('p'))
print(a.count('e'))
print(a.count('z'))

2
1
0

In [62]:
a = 'apple' 

for i in range(len(a)) :     # a가 가지고 있는 글자 수만큼 반복 돌릴거야. 
    if 'p' == a[i]:       # 만약 'p' 라는 글자가 a의 인덱스 
        print(i)

1
2

In [64]:
name = 'he he hhe lo'

for n in range(len(name)): 
    if 'h' == name[i]: 
        print(n)

In [68]:
#     .split(x) 
a = 'my_name_is_beck'
a.split('a')                #split(x) 기준 ,를 넣어 2개로 나뉜다.

['my_n', 'me_is_beck']

```
islower() 
isupper()
isspace()
isprintable()
```

### 등등 is 가 들어있는 경우 return 이 들어가기 때문에 결과가 주로 True, False 로 나온다.

## 2. 리스트 메소드

In [78]:
numbers = [1, 2, 2, 5, 2, 1, 6, 2, 4, 8]

In [81]:
#    .append(x) 
numbers.append(99)          # 이건 예외적으로 원본에 저장한다. 이대로 실행하면 값이 나오지 않는다.

In [80]:
print(numbers)

[1, 2, 2, 5, 2, 1, 6, 2, 4, 8, 99]

In [85]:
print(numbers)              # 한 번 더 실행하면 똑같이 추가된다.

[1, 2, 2, 5, 2, 1, 6, 2, 4, 8, 99, 99]

In [88]:
#     .extend(iterable) 
a = [99,100] 
numbers.extend(a)           # [ ] 안에 있는 값을 a 에 넣어준다. 
print(numbers)              # 이것도 여러번 실행할 수록 늘어난다.}

[1, 2, 2, 5, 2, 1, 6, 2, 4, 8, 99, 99, 99, 100, 99, 100, 99, 100]

In [92]:
numbers.extend(a)
print(numbers)

[1, 2, 2, 5, 2, 1, 6, 2, 4, 8, 99, 99, 99, 100, 99, 100, 99, 100, 99, 100]

In [93]:
# append 는 하나를 , extend 는 여러개를 추가 할 때 사용

In [99]:
#       .insert(idx, x)    
numbers = [1, 2, 3, 44, 6,3 ] 
numbers.insert ( 3 , 9999)

In [100]:
print(numbers)                 #    .insert (넣을 인덱스 번호. 넣고 싶은 값)

[1, 2, 3, 9999, 44, 6, 3]

In [101]:
#        .remove(x) 
numbers.remove(9999)           # 9999 값을 지우고 싶을 때
print(numbers)

[1, 2, 3, 44, 6, 3]

In [102]:
numbers.remove(9999)            # 이미 위에 9999값을 지웠기 때문에, 한 번 더 실행시 에러

ValueError: list.remove(x): x not in list

In [105]:
#        .pop([i])        
numbers = [1,2,3,4,5,6]  
numbers.pop()             # 인덱스 값이 없으면 맨 뒤 
print(numbers) 

numbers.pop(2)            # 2번째 인덱스 값 삭제 
print(numbers)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

In [109]:
#       .sort() 
numbers = [1,1,1,4,99,3,5,9,6,26] 
numbers.sort()                       # 작은 값 순으로 재정렬 
print(numbers) 

numbers.sort(reverse=True)           # 큰 값 순으로 재정렬 (역순) 
print(numbers)

[1, 1, 1, 3, 4, 5, 6, 9, 26, 99]
[99, 26, 9, 6, 5, 4, 3, 1, 1, 1]

In [114]:
#       .reverse() 
print(numbers)                    # 바로 위 큰 값 역순으로 했기 때문에 

numbers.reverse()                 # 다시 역순으로 뒤집는 값  
print(numbers) 

numbers = numbers [ : : -1]        # 시작점이 비어있으면 0부터, 종료값 비어있으면 맨 뒤인 -1, 
print(numbers)

[99, 26, 9, 6, 5, 4, 3, 1, 1, 1]
[1, 1, 1, 3, 4, 5, 6, 9, 26, 99]
[99, 26, 9, 6, 5, 4, 3, 1, 1, 1]

## 2.1 List Copy

In [117]:
origin_list = [ 1, 2, 3 ] 
copy_list = origin_list        # copy_list 를 만들어 복제

In [118]:
print(origin_list)           # 원본 
print(copy_list)             # 복제본

[1, 2, 3]
[1, 2, 3]

In [120]:
copy_list[0] = 99            # 복제본 값 수정 

print(origin_list)           # 복제본을 수정하면, 원본도 수정됨 
print(copy_list)

[99, 2, 3]
[99, 2, 3]

In [123]:
a = [1,2,3] 
b = a[:]        # 시작점없을경우 0번부터, 종료값없을경우 끝까지 = 처음부터 끝까지 

print(a) 
print(b)

b[0] = 99       # 슬라이싱으로 복제할경우 
print(a)  
print(b)        # 복제본만 수정된다. 원본은 그대로

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[99, 2, 3]

In [124]:
a = [1,2,3] 
b = list(a)        # 새로운 리스트 값으로 복제하면 

print(a) 
print(b)

b[0] = 99       
print(a)  
print(b)        # 복제본만 수정된다. 원본은 그대로

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[99, 2, 3]

In [126]:
#    0  1    2
a = [1, 2, [3,4]]      # 이중으로 리스트로 값을 넣으면
b = a[ : ]             # 0번인덱스부터 마지막인덱스까지 

b[2][0] = 100          # b의 2번째 인덱스값 = 3,4   의 0번째 인덱스값   3 

print(a) 
print(b)

[1, 2, [100, 4]]
[1, 2, [100, 4]]

In [129]:
import copy     # copy 라는 도구를 불러올거야. 
a = [1,2, [3,4]] 
b = copy.deepcopy(a)         

print(a)               # 원본 

b[2][0] = 99 

print(a)               # 원본은 그대로 
print(b)                      # 복제본만 수정됨

[1, 2, [3, 4]]
[1, 2, [3, 4]]
[1, 2, [99, 4]]

## 2.2 List comprehension

In [130]:
numbers = list(range(1,11)) 
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [140]:
# 이 안에 있는 모든 수를 반복문을 돌면서 
# 세제곱수의 수로 바꾸어서 새로운 result 리스트 값에 넣어라. 

result = [] 

for n in numbers : 
    result = n ** 3 
    return result 

print(result)

SyntaxError: 'return' outside function (4007206040.py, line 8)

In [135]:
# 정답 

result = [ ] 
for n in numbers: 
    result.append(n **3) 
    
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [137]:
# 정답2 

result2 = [ n **3 for n in numbers]         # 리스트 안에 for 문 넣기 
print(result2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [143]:
result2 = [ n + 2 for n in numbers] 
print(result2)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [146]:
# 짝수만 고르기 (반복문 버전) 

even_list = [ ] 
for i in numbers : 
    if i % 2 == 0 : 
        even_list.append(i) 
        
print(even_list)

[2, 4, 6, 8, 10]

In [147]:
# 짝수만 고르기 ( List comprehension 버전) 

#   even_list2 = [    for i in numbers                   ]                 
#   even_list2 = [    for i in numbers     if i % 2 == 0 ] 
#   even_list2 = [ i  for i in numbers     if i % 2 == 0 ] 
#                 결과     for문              if문
even_list2 = [i for i in numbers if i % 2 == 0] 
print(even_list2)

[2, 4, 6, 8, 10]

In [148]:
words = 'my name is hyejin' 
vowels = 'aeiou'               # 모음

# => my nm s hyjn        으로 출력하기 

# 1. for 문 버전 
# 2. list comprehesion 버전

In [151]:
# 1. for 문 버전 
# my nm s hyjn 

print(words) 
print(words.strip('aeiou'))

my name is hyejin
my name is hyejin

In [152]:
# 1. for 문 버전 
# my nm s hyjn 

result = [ ]       # 모음을 뺀 자음만 넣을 곳 생성 
for char in words: 
    print(char)

m
y

n
a
m
e

i
s

h
y
e
j
i
n

In [161]:
# 1. for 문 버전 
# my nm s hyjn 

result = [ ]             # 모음을 뺀 자음만 넣을 곳 생성 
for char in words: 
    if char not in vowels:        # 글자에 모음이 없나요? (모음을 제외한 자음만) 
        result.append(char)       # 그럼 그것만 result 변수에 넣어주세요. 

print(result)                    
print(''.join(result))            # 하나의 문자열로 합쳐서 출력합니다.

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'y', 'j', 'n']
my nm s hyjn

In [160]:
# 2. List comprehesion 

result2 = [char.upper() for char in words if char not in vowels]
print(result2) 
print(''.join(result2))

['M', 'Y', ' ', 'N', 'M', ' ', 'S', ' ', 'H', 'Y', 'J', 'N']
MY NM S HYJN

In [164]:
result2 = [ ] 
for char in words: 
    if char not in vowels: 
        result2.append(char.upper())     # result2.upper(char) 아님  
print(result2)
print(''.join(result2))

['M', 'Y', ' ', 'N', 'M', ' ', 'S', ' ', 'H', 'Y', 'J', 'N']
MY NM S HYJN

## 3. 딕셔너리 메소드

In [165]:
info = { 
    'name' : 'hyejin',
    'location' : 'anyang',
}

In [169]:
info['name'] = 'soonok'            # info의 key'name' 의 value값 수정 
print(info['name'])

soonok

In [167]:
#    .pop() 
info.pop('location') 
print(info)

{'name': 'soonok'}

In [168]:
info.pop('laction')       # .pop 은 지워지는 함수 
print(info)               # 위에 이미 지웠기 때문에 한 번더 실행시 에러

KeyError: 'laction'

In [170]:
#       .pop (key[ , default]) 
print(info)

{'name': 'soonok'}

In [172]:
print(info.pop('location',None))      # 만약 'location' 키가 info 딕셔너리에 존재하지 않는다면, None을 반환
print(info)

None
{'name': 'soonok'}

In [173]:
#        .update(key=value) 
info.update(name = 'hyejin') 
print(info)

{'name': 'hyejin'}

In [179]:
#        .get(key[, defalut]) 
print(info.get('name'))        # key 값에 해당하는 value 값을 가져와라
print(info.get('school'))             # 없으면 none 

print(info['name'])

hyejin
None
hyejin

In [180]:
print(info['school'])          # 찾고 있는 key 값이 없으면 error

KeyError: 'school'

In [181]:
# pop = 뽑아오는것 
# update = 
# get = 수정

## 3.1 dict comprehension

In [182]:
# { 1: 3, 2: 8 , 3: 27}       # 세 제곱을 만드는 딕셔너리

In [183]:
# for 문으로 만들 경우 

cube_dict = {} 

for i in range(1, 4) :         # cube_dict 에 1,2,3 을 key값으로 넣어줄거야. 
    cube_dict[i] = i **3       # cube_dict 에 key값은 위의 i (1,2,3) 으로 넣을거고    value 값은 i의 세제곱 ( 3, 8, 27) 로 넣을거야. 

print(cube_dict)

{1: 1, 2: 8, 3: 27}

In [186]:
# comp 

cube_dict2 = {i : i **3 for i in range(1,4)}     # 위와 동일하게 
print(cube_dict2)

{1: 1, 2: 8, 3: 27}

In [198]:
dust = {
    '서울': 100, 
    '대구': 30 , 
    '대전': 10, 
    '부산': 80 , 
    '광주': 50 
}

# 해당 값을 
# result = { 
#     '서울': 100, 
#     '부산': 80, 
#     '광주': 50,   
# }
# 으로 바꾸는 for 문과 comp 문을 작성하라

In [199]:
# 1. for 

result = { }
result = dust
dust.pop('대구')
dust.pop('대전')
print(result)

{'서울': 100, '부산': 80, '광주': 50}

In [201]:
dust = {
    '서울': 100, 
    '대구': 30 , 
    '대전': 10, 
    '부산': 80 , 
    '광주': 50 
}

# 1. for 정답 
result = {} 

for k, v in dust.items() : 
    if v >= 50 : 
        result[k] = v 

print(result)

{'서울': 100, '부산': 80, '광주': 50}

In [204]:
dust = {
    '서울': 100, 
    '대구': 30 , 
    '대전': 10, 
    '부산': 80 , 
    '광주': 50 
}

# 2. comp
result2 = {k: v for k, v in dust.items() if v >= 50 }
print(result2)

{'서울': 100, '부산': 80, '광주': 50}

In [205]:
result2 = {k: '가고싶다' for k, v in dust.items() if v >= 50 }
print(result2)

{'서울': '가고싶다', '부산': '가고싶다', '광주': '가고싶다'}

In [206]:
# .items() 메서드는 파이썬의 딕셔너리(dict)에서 사용되는 메서드로, 딕셔너리의 각 키-값 쌍을 (key, value) 형태의 튜플로 반환하는 함수

## 4. set 메소드 
중복값 제거

In [234]:
fruits = {'apple', 'banana', 'melon'}

In [235]:
#     .add(x) 
fruits.add('watermelon')          # 순서 상관없이 더해진다. 
print(fruits)

{'melon', 'watermelon', 'banana', 'apple'}

In [236]:
fruits.add('장바구니')          # 순서 상관없이 더해진다. 
print(fruits)

{'장바구니', 'melon', 'watermelon', 'banana', 'apple'}

In [237]:
fruits.add('berrys')          # 순서 상관없이 더해진다. 
print(fruits)

{'장바구니', 'berrys', 'melon', 'watermelon', 'banana', 'apple'}

In [238]:
#       .updat()
fruits.update('grapes')       
print(fruits)

{'장바구니', 'berrys', 'a', 'g', 'p', 'melon', 'watermelon', 'e', 'r', 's', 'banana', 'apple'}

In [239]:
#       .updat()
fruits.update({'grapes','pears'})       # 정상적으로 더해진다. 
print(fruits)

{'장바구니', 'berrys', 'a', 'g', 'p', 'melon', 'pears', 'grapes', 'watermelon', 'e', 'r', 's', 'banana', 'apple'}

In [240]:
#        .remove() 
fruits.remove('grapes')
print(fruits)

{'장바구니', 'berrys', 'a', 'g', 'p', 'melon', 'pears', 'watermelon', 'e', 'r', 's', 'banana', 'apple'}

In [241]:
#         .pop() 
fruits.pop()           # 랜덤하게 뽑아낸다. (랜덤하게 제거) 
print(fruits)

{'berrys', 'a', 'g', 'p', 'melon', 'pears', 'watermelon', 'e', 'r', 's', 'banana', 'apple'}

In [242]:
fruits.pop()           # 랜덤하게 뽑아낸다. (랜덤하게 제거) 
print(fruits)

{'a', 'g', 'p', 'melon', 'pears', 'watermelon', 'e', 'r', 's', 'banana', 'apple'}

In [243]:
fruits.pop()           # 랜덤하게 뽑아낸다. (랜덤하게 제거) 
print(fruits)

{'g', 'p', 'melon', 'pears', 'watermelon', 'e', 'r', 's', 'banana', 'apple'}

In [245]:
fruits.pop()           # 랜덤하게 뽑아낸다. (랜덤하게 제거) 
print(fruits)  

fruits.pop()           # 랜덤하게 뽑아낸다. (랜덤하게 제거) 
print(fruits)  

fruits.pop()           # 랜덤하게 뽑아낸다. (랜덤하게 제거) 
print(fruits)  

fruits.pop()           # 랜덤하게 뽑아낸다. (랜덤하게 제거) 
print(fruits)

{'melon', 'pears', 'watermelon', 'e', 'r', 's', 'banana', 'apple'}
{'pears', 'watermelon', 'e', 'r', 's', 'banana', 'apple'}
{'watermelon', 'e', 'r', 's', 'banana', 'apple'}
{'e', 'r', 's', 'banana', 'apple'}

## 5. map() , zip()  , filter()

## 5.1 map( ) 
```
map ( 함수funtion   ,  반복가능시퀀스 iterable) 
```

### 변수안에 하나하나 대입하고 싶을 때 사용

In [246]:
a = [ 1, 2, 3 ] 

number_str = map( str, a)      # str이라는 문자로 바꾸어주는 함수 와 변수 a 

print(number_str)              # map object 에 저장된 위치를 알려준다. 
                               # 실제 연산되는게 아니라, 위치만 알려준다. very lazy

<map object at 0x7fa1c8691880>

In [247]:
print(list(number_str))        # 실제로 출력하고 싶다면, list 형식으로 출력해야함

['1', '2', '3']

In [248]:
def cube(x): 
    return x ** 3

In [250]:
# for 문을 활용하여, 모든 items에 cube함수 실행 

result = [] 

for i in a : 
    result.append(cube(i)) 
print(result)

[1, 8, 27]

In [252]:
result2 = map(cube,a)    # cube라는 함수에 a변수를 하나하나 돌면서 넣어서 실행할거야. 

print(list(result2))

[1, 8, 27]

In [265]:
numbers = input()                  #input 안에 숫자 받기
print(numbers)

 12345

12345

In [264]:
numbers = input().split()         # input 안에 숫자 넣으면 -> 하나하나 쪼개기 
print(number)

 12345

[1, 2, 2, 5, 2, 1, 6, 2, 4, 99]

In [263]:
numbers = map(int,input().split())        # input 안에 숫자 넣으면 -> 하나하나 쪼개기 
print(numbers)

 12345

<map object at 0x7fa1c8691df0>

In [270]:
numbers = list(map(int,input().split()))
print(numbers)

 12345

[12345]

## 5.2 zip

In [267]:
a = [1,2,3] 
b = [100,200,300]

In [269]:
result = zip(a,b) 
print(result)
print(list(result))

<zip object at 0x7fa19005b680>
[(1, 100), (2, 200), (3, 300)]

## 5.3 filter
```
filter (function, iterable) 
```

### filter 에 들어가는 function 은 T or F 로 답이 나와야 한다. (반환해야 한다)

In [274]:
def is_odd(x) :            # x를 받고, 홀수인가요? 묻는 함수 생성 
    return bool(x % 2)     # 1이면 T , 0 이면 F 

# def is_odd(x) :          이것과 동일하다 
#     if x % 2 == 1: 
#         return True 
#     else: 
#         return False

In [276]:
numbers = [ 1, 2, 3, 4, 5] 
result = filter(is_odd,number)       
print(result) 
print(list(result))

<filter object at 0x7fa1900585e0>
[1, 5, 1, 99]