# 01. intro 순서 
- 단축키 
- 주의사항
- 1. 변수 
  - 1.1 number 형태
  - 1.2 boolean 참과 거짓
  - 1.3 none 
  - 1.4 string 문자열 
     - 1.4.1 string interpolation (f-string)
- 2. 연산자
  - 2.1 산술연산자 
  - 2.2 비교연산자 
  - 2.3 논리연산자, 복합연산자 
  - 2.4 기타연산자 그리고 우선순위 
- 3. 형변환
  - 3.1 암시적 형변환 
  - 3.2 명시적 형변환 
- 4. 시퀀스 자료형
  - 4.1 List [ ] 
  - 4.2 Tuple ( ) 
  - 4.3 Range(,)
  - 4.4 String 은 설명 생략 " " 
  - 4.5 시퀀스 활용 연산/함수 
- 5. 비시퀀스 자료형 
  - 5.1 Set {, , ,} 
  - 5.2 Dictionary {key:value,,}
---

## 단축키

- `ctrl + enter` : 지금 cell 실행
- `shift + enter` : 지금 cell 실행 + 아래로 이동
- `alt(Commane) + enter` : 지금 cell 실행 + 아래에 새로운 cell 추가 
- `Ctrl + slash` : 주석을 나타냄 
- `Esc + m` : markdown 으로 변환 
---

## 주의사항

1. 대문자 주의 
   - Apple과 apple 은 다르다. 
2. 띄어쓰기 주의 
   - git add. 와 git add .도 다르다. 
3. 철자 주의 
   - message 와 massage 도 다르다.
----

## 1. 변수

변수이름 = 값 (할당) 
- 영어, 숫자, _ 를 이용 
- 키워드 사용 불가

In [4]:
a = 10 
name = 'hyejin'
print(a)
print(name)

10
hyejin

In [6]:
import keyword             #사용불가 키워드
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

## 1.1 number

In [11]:
a = 10000000 
print(a)               
type(a)                   # 기본적으로 숫자 = 정수 형태

10000000

int

In [14]:
b= 1.1 
print(b) 
type(b)                   # 소수점 = 실수

1.1

float

In [16]:
c = 1 - 4j
print(c)
type(c)                    # 복소수

(1-4j)

complex

In [18]:
print(c.imag)
print(c.real)

-4.0
1.0

## 1.2 Boolean

True, False 로 이루어졌다.

In [21]:
a = True     # bool 
b = False    # bool 
type(a)

bool

In [24]:
bool(0)      # 값이 True인지 False인지 확인해주는 함수

False

In [30]:
bool( )      # 값이 비어있거나,0이면 => False

False

In [27]:
bool(1)

True

In [29]:
bool(a)

True

## 1.3 none

In [33]:
a = None          # 대문자여야함 
type(a)           # NoneType = 값이 아무것도 들어있지 않다.

NoneType

## 1.4 String 
문자열은 `'`과 `"`를 이용하여 표현한다.

일관되게 하나만 꾸준히 사용하는 것이 암묵적 규칙이다.

```
\n 다음줄로 줄넘김
\t 네 칸 띄어쓰기 (tab기능) 
```

In [37]:
a = 'hello'
type(a)

str

In [43]:
age = input()       # input( ) 하게되면 값을 입력받을 수 있다.
print(type(age))    # 어떤 값을 받아도, 문자열로 인식한다. int->str

 23

<class 'str'>

In [46]:
print('안녕하세요 "백혜진"입니다.')

안녕하세요 "백혜진"입니다.

In [48]:
print("안녕하세요 '백혜진'입니다.")

안녕하세요 '백혜진'입니다.

In [50]:
print('안녕하세요 \'백혜진\'입니다.')       #  \'

안녕하세요 '백혜진'입니다.

In [53]:
a = '''
여기는 문자열이며, 
엔터를 쳐서 \'여러 줄\'을 작성할 수 있습니다
'''
print(a)

여기는 문자열이며,
엔터를 쳐서 '여러 줄'을 작성할 수 있습니다

In [55]:
print('다음 줄로 줄넘길 경우 \n이렇게, \t들여쓰기도 가능합니다.')

다음 줄로 줄넘길 경우
이렇게, 	들여쓰기도 가능합니다.

## 1.4.1 String interpolation 
```
1. %s-formatting 
2. str.format() 
3. f-string        -> 더 자주 쓰인다.
 
```

In [57]:
age = 20 
print(age)

20

In [58]:
print('저는 %s살입니다.' % age)

저는 20살입니다.

In [59]:
print('저는 {}살입니다.'. format(age))

저는 20살입니다.

In [61]:
print(f'저는 {age}살입니다.')

저는 20살입니다.

---

## 2. 연산자

## 2.1 산술연산자

In [64]:
print(2 + 3)     # 더하기 
print(2 - 3)     # 빼기 
print(2 * 3)     # 곱하기 
print(2 / 3)     # 나누기 
print(2 **3)     # 제곱

5
-1
6
0.6666666666666666
8

In [66]:
print( 2 // 3 )    # 나누었을 때 몫만 출력 
print( 2 %  3 )    # 나누고나서 나머지만 출력
print(divmod(2,3)) # 나눈 (몫,나머지) 모두 출력

0
2
(0, 2)

## 2.2 비교연산자

`==` 는 숫자 뿐만 아니라, 문자도 비교 가능하다.

In [67]:
print( 5 > 10 ) 
print( 5 < 10 )
print( 5 >=10 ) 
print( 5 <=10 )

False
True
False
True

In [68]:
print( 5 == 10 ) 
print( 5 != 10 )

False
True

In [69]:
print( 'hi' == 'hi' ) 
print( 'Hi' == 'hi' )

True
False

## 2.3 논리연산자 
```
and : 양쪽 모두 True 일 때 -> True 
       T and F -> F
 or : 양쪽 모두 False일 때 -> False 
       T or F  -> T
not : 값을 반대로 전환 
```

In [72]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [73]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [74]:
print(True)
print(not True)

True
False

In [77]:
# 단축평가
print(3 and 5)     # 앞이 T 이면  -> 뒤 값만 출력 
print(3 and 0)
print(0 and 5)     # 앞이 F 이면  -> 앞 값만 출력
print(0 and 0)

5
0
0
0

In [78]:
# 단축평가
print(3 or 5)      # 앞이 T 이면   -> 앞 값만 출력 
print(3 or 0)
print(0 or 5)      # 앞이 F 이면   -> 뒤 값만 출력 
print(0 or 0)

3
3
5
0

## 2.3 복합연산자

In [82]:
a = a + b   #   a += b 와 같다. 
a = a - b   #   a -= b 와 같다. 
a = a * b   #   a *= b 와 같다. 
a = a / b   #   a /= b 와 같다. 
a = a ** b  #   a **= b와 같다.

## 2.4 기타연산자

In [87]:
a = 'hi'
b = 'hello' 

a + b           # concatenation(연결)

'hihello'

In [89]:
a = [1,2,3] 
b = [4,5,'6']

a + b

[1, 2, 3, 4, 5, '6']

In [91]:
print('a' in 'apple')   # containment
print('z' in 'apple')

True
False

In [92]:
print(1 in [1,2,3])
print(10 in [1,2,3])

True
False

In [95]:
a = 1             # identity
b = 1
print(a is b)     # a와 b는 같니? -> True 

c = 553223
d = 553223
print(c is d)     # c와 d는 같니? -> False
                  # 일정한 수가 넘어가면 lam저장위치값이 달라 다르게 나온다.

True
False

## 우선순위
```
()를 통해 그룹
**
산술연산자(*, /)
산술연산자(+, -)
비교연산자, in, is
not
and
or
```

In [97]:
print(-3 ** 4)
print((-3) ** 4)

-81
81

---

## 3. 형변환

## 3.1 암시적 형변환

In [4]:
a = True      # bool, but 1 
b = False     # bool, but 0 
c = 1         # int

print( a + c ) 
print( b + c )

2
1

In [7]:
int_num = 3
float_num = 3.3
complex_num = 1 +3j

print(int_num + float_num)
print(int_num + complex_num)    # 숫자끼리 더해진다.
     # 다른타입의 숫자끼리 더할땐, 더 큰 범위 숫자로 더해진다.

6.3
(4+3j)

## 3.2 명시적 형변환 

-   Int() : string,float -> int 로 변환 
- float() : string, int  -> float 로 변환 
-   str() : int, float   -> string로 변환 
-  bool() : int, list    -> boolean로 변환

In [9]:
a = 1                # int
b = '번'              # str 
print( a + b )

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
print(str(a)+b)

1번

In [13]:
a = '4'           # str 
type(int(a))      # str -> int

int

In [24]:
a = 1        # int
b = 0        # int 
bool(a)  #True 
bool(b)  #False

False

In [39]:
print(bool([]))       # 아무것도 없다 False
print(bool([1,2,3]))  # 내용물이 있다 True

False
True

---

# 4. 시퀀스 자료형 (sequence) 

- Variable = 단수
- Sequence = 복수

데이터의 순서대로 나열된 자료구조 (정렬된 것과는 다르다) 

- 인덱스,슬라이스가 가능하다
```
1. List [] : 데이터 수정 가능 O
2. tuple() :              X
3. range   : range( , , ) X
4. string  :              X 
```

## 4.1 List 
- 변수 = [value1, value2,,]
- values 데이터 값 수정 가능하다.

In [27]:
a = [ ] 
print(a)
print(type(a))

[]
<class 'list'>

In [31]:
#        0    1   2 
love = ['사','랑','해']
print(love)
print(love[1])

love[1] = '붕'          # 1번째 인덱스값 '랑' -> '붕' 
print(love)

['사', '랑', '해']
랑
['사', '붕', '해']

## 4.2 tuple
- 변수 = (value1, value2,,) 
- values 데이터 값 수정 불가능하다.

In [34]:
#    0  1  2
a = (1, 2, 3) 
print(a) 
print(type(a))
print(a[2])            # 2번째 인덱스값 '3'

(1, 2, 3)
<class 'tuple'>
3

In [36]:
a[2] = 99              # 2번째 인덱스값 '3' -> '99' 수정불가

TypeError: 'tuple' object does not support item assignment

In [38]:
# 다만, 직접적으로 두 변수의 내용을 맞바꾸는건 가능하다. 

mom , dad = ('good', 'bad') 
print(mom,dad)

mom, dad = dad , mom        # 서로 맞바꾸는 행위
print(mom,dad)

good bad
bad good

## 4.3 range 
숫자 값들의 범위를 정할 때 주로 사용한다. 
- range  ( y ) : 시작값0 부터 종료값y-1 까지 
- range  (x,y) : 시작값x 부터 종료값y-1 까지
- ragne (x,y,s): 시작값x 부터 종료값y-1 까지, +s 값만큼 증가

In [47]:
a = range(7) 
print(a) 
print(type(a))

range(0, 7)
<class 'range'>

In [50]:
b = range(5,15)
print(b)
print(type(b))

range(5, 15)
<class 'range'>

In [54]:
c = range(2,15,3)
print(c) 
print(type(c))

range(2, 15, 3)
<class 'range'>

In [55]:
print(list(a))
print(list(b))
print(list(c))

[0, 1, 2, 3, 4, 5, 6]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[2, 5, 8, 11, 14]

In [57]:
d = range(-1,-15,-3)        # 음수로도 가능합니다.
print(list(d))

[-1, -4, -7, -10, -13]

## 4.4 String 
위의 작성된 기본 데이터 구조 참조

## 4.5 시퀀스에서 활용가능한 연산/함수

인덱싱 

슬라이싱

In [58]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_range = range(1, 100)
my_string = '12345'

In [59]:
# indexing
print(my_list[1])
print(my_tuple[1])
print(my_range[1])
print(my_string[1])

2
2
2
2

In [60]:
# slicing
print(my_list[1:3])
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

[2, 3]
(2, 3)
range(2, 4)
23

In [62]:
# slicing (k간격으로)
list(my_range[2:6:2])

[3, 5]

In [63]:
# in
print(1 in my_list)
print(1 in my_tuple)
print(1 in my_range)
print('1' in my_string)

True
True
True
True

In [64]:
print(1 not in my_list)
print(1 not in my_tuple)
print(1 not in my_range)
print('1' not in my_string)

False
False
False
False

In [65]:
# concatenation
print(my_list + [1, 2, 3])

[1, 2, 3, 4, 5, 1, 2, 3]

In [66]:
# *
print([0] * 10)
print([[0] * 10] * 10)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [68]:
print(len(my_list))    # 값의 길이  
print(min(my_list))    # 최대값 
print(max(my_list))    # 최소값
my_list.count(1)       # 값 1의 갯수

5
1
5

1

---

## 5. 비시퀀스데이터 
인덱싱,슬라이싱 불가

## 5.1 Set 
수학에서 사용하는 집합과 동일하게 처리 (중복값 X) 

변수 = {value1, value2,,}

In [69]:
my_set_a = {1, 2, 3, 4, 5}
my_set_b = {3, 4, 5, 6, 7}

In [70]:
print(my_set_a - my_set_b)   # 차집합 
print(my_set_a | my_set_b)   # 합집합 
print(my_set_a & my_set_b)   # 교집합

{1, 2}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}

In [71]:
my_list = [1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 4, 5, 6, 7]
print(list(set(my_list)))     # Set는 중복값 제거해서 나온다.

[1, 2, 3, 4, 5, 6, 7]

## 5.2 dictionary

변수 = {key1:value1,..}

key와 value 가 쌍으로 이루어져있다. 

key 에는 immutable 한 모든 것 사용 가능 (불변값인 str, int ,,) 

value 에는 모든 데이터 가능 (list, dictionary 도 가능)

In [74]:
dict = {'spring': 'flower', 'summer': 'icecream'}
dict['summer']        # 'summer'에 해당하는 value 값 찾기

'icecream'

In [76]:
dict = { 
    'spring': 'flower', 
    'summer': 'icecream',
    'autumm': 'poem', 
    'winter': 'snow',
}

In [77]:
print(dict)

{'spring': 'flower', 'summer': 'icecream', 'autumm': 'poem', 'winter': 'snow'}

In [81]:
dict.keys()

dict_keys(['spring', 'summer', 'autumm', 'winter'])

In [82]:
dict.values()

dict_values(['flower', 'icecream', 'poem', 'snow'])

## 5.2 dictionary는 수정 가능하다. 
list 형식과 함께 수정 가능한 데이터다.

In [84]:
a = {
    'apple': '사과',
    'banana': '바나나',
}

a['apple']

'사과'

In [85]:
a['apple'] = '사과아아아아아'
a['apple']

'사과아아아아아'